﻿@using GiveCRM.Web.Views

<div class="fill">
	<div class="container">
		<a class="brand" href='@Url.Action("Index", "Campaign")'>
			<img src="@Url.Content("~/Content/GiveCRM-icon.png")" alt="GiveCRM" />
		</a>
          
		<ul class="nav">
			<li @Html.NavigationClassBuilder("Campaign", additionalClasses: "dropdown") data-dropdown="dropdown">
				@Html.ActionLink("Campaign", "Index", "Campaign", null, new { @class = "dropdown-toggle" })
				
				<ul class="dropdown-menu">
					<li @Html.NavigationClassBuilder("Campaign", "Index")>
						@Html.ActionLink("List Campaigns", "Index", "Campaign")
					</li>
					<li @Html.NavigationClassBuilder("Campaign", "Add")>
						@Html.ActionLink("Create Campaign", "Create", "Campaign")
					</li>
				</ul>
			</li>
			
			<li @Html.NavigationClassBuilder("Member", additionalClasses: "dropdown") data-dropdown="dropdown">
				@Html.ActionLink("Member", "Index", "Member", null, new { @class = "dropdown-toggle" })
				
				<ul class="dropdown-menu">
					<li @Html.NavigationClassBuilder("Member", "Index")>
						@Html.ActionLink("List Members", "Index", "Member")
					</li>
					<li @Html.NavigationClassBuilder("Member", "Add")>
						@Html.ActionLink("Add Members", "Add", "Member")
					</li>
				</ul>
			</li>

			<li @Html.NavigationClassBuilder("Setup", additionalClasses: "dropdown") data-dropdown="dropdown">
				@Html.ActionLink("Setup", "Index", "Setup", null, new { @class = "dropdown-toggle" })
				
				<ul class="dropdown-menu">
					<li @Html.NavigationClassBuilder("Setup", "Index")>
					        @Html.ActionLink("List Facets", "ListFacets", "Setup")
							@Html.ActionLink("Create Facet", "AddFacet", "Setup")
					</li>
				</ul>
			</li>

            <li @Html.NavigationClassBuilder("Donation")>
				@Html.ActionLink("Donations", "Index", "Donation", null, null)
			</li>
		</ul>

		<div class="pull-right">
			@if (Request.IsAuthenticated) {
				<span class="welcome">Welcome <strong>@User.Identity.Name</strong></span>
				@Html.ActionLink("Log Off", "LogOff", "Account")
			}
			else {
				<!-- TODO(BS) add submit to correct location, use validation, use Razor forms 
				<form action="?">
					<input class="input-small" type="text" name="email" placeholder="Email">
					<input class="input-small" type="password"name="password" placeholder="Password">
					<button class="btn" type="submit">Sign in</button>
				</form>

				@Html.ActionLink("Log On", "LogOn", "Account")
                -->
			 }
		</div>
	</div>
</div>
