﻿@model GiveCRM.Web.Models.Members.MemberEditViewModel 

<h2>@ViewBag.Title</h2>

@Html.ValidationSummary("", new { @class = "alert-message warning" })

<div>
@{Html.BeginForm("Save", "Member", FormMethod.Post, new { id = "addMember" });}

@Html.HiddenFor(m => m.Id)

@EditHelper.FieldWithValidation(Html, m => m.Reference)
@EditHelper.FieldWithValidation(Html, m => m.Title)
@EditHelper.FieldWithValidation(Html, m => m.Salutation)
@EditHelper.FieldWithValidation(Html, m => m.FirstName)
@EditHelper.FieldWithValidation(Html, m => m.LastName)
@EditHelper.FieldWithValidation(Html, m => m.AddressLine1)
@EditHelper.FieldWithValidation(Html, m => m.AddressLine2)
@EditHelper.FieldWithValidation(Html, m => m.City)
@EditHelper.FieldWithValidation(Html, m => m.PostalCode)
@EditHelper.FieldWithValidation(Html, m => m.Region)
@EditHelper.FieldWithValidation(Html, m => m.Country)
@EditHelper.FieldWithValidation(Html, m => m.EmailAddress)

<div id="PhoneNumbers">
@{
    int i = 0;
    foreach (var phone in Model.PhoneNumbers)
    {
        <div class="editor-label"><label for="PhoneNumbers[@i].Number">@phone.PhoneNumberType</label></div>
        <div class="editor-field"><input id="PhoneNumbers[@i].Number" name="PhoneNumbers[@i].Number" type="text" value="@phone.Number" /></div>
        <input type="hidden" name="PhoneNumbers[@i].MemberId" value="@phone.MemberId" />
        <input type="hidden" name="PhoneNumbers[@i].Id" value="@phone.Id" />
        <input type="hidden" class="numbertype" name="PhoneNumbers[@i].PhoneNumberType" value="@phone.PhoneNumberType" />
        i++;
    }
}
</div>

<div id="AddNumber">
    <div class="editor-label"><label for="AddNumber_Type">Number Type</label></div>
    <div class="editor-field"><select id="AddNumber_Type" name="AddNumber_Type">
    @foreach (int phoneType in Enum.GetValues(typeof(GiveCRM.Models.PhoneNumberType)))
    {
       <option value="@phoneType">@Enum.GetName(typeof(GiveCRM.Models.PhoneNumberType), @phoneType)</option>
    }
    </select></div>
    <div class="editor-label"><label for="AddNumber_Number">Number</label></div> 
    <div class="editor-field">
        <input id="AddNumber_Number" name="number" type="text" />
        <input id="AddNumber_Button" type="button" value="Add Number" />
    </div>
</div>

<input type="submit" value="Save" />
@{Html.EndForm();}

<div>

<script type="text/javascript">

    $(function () {
        $('#AddNumber_Button').click(function () {
            var index = $('.numbertype').length;
            var type = htmlEncode($('#AddNumber_Type option:selected').text());
            var number = htmlEncode($('#AddNumber_Number').val());
            $('#AddNumber_Number').val('');
            if (number.trim() === '') {
                return;
            }               
            
            $('#PhoneNumbers').append(
                '<label for="PhoneNumbers[' + index + '].Number">' + type +
                '</label><input name="PhoneNumbers[' + index + '].Number" type="text" value="' + number + '" /><br />' +
                '<input type="hidden" name="PhoneNumbers[' + index + '].Id" value="0" />' +
                '<input type="hidden" class="numbertype" name="PhoneNumbers[' + index + '].PhoneNumberType" value="' + type + '" />');
        });

        var htmlEncode = function (val) {
            return $('<div/>').text(val).html();
        };
    }); 
</script>
</div>
</div>