﻿@model GiveCRM.Models.Donation

@{
    ViewBag.Title = "Donate";
}
<h2>Add Donation for @ViewBag.MemberName</h2>

@{Html.BeginForm(actionName: "SaveDonation", controllerName: "Member");}

@Html.HiddenFor(d => d.MemberId)
@EditHelper.DropdownFor(Html, d => d.CampaignId, (IEnumerable<SelectListItem>)ViewBag.Campaigns)
@EditHelper.Field(Html, d=> d.Date)
@EditHelper.Field(Html, d => d.Amount)
<input type="submit" value="Save" />
@{Html.EndForm();}

<script type="text/javascript" language="javascript">
    $(function () {
        $("#Date").datepicker({ dateFormat: 'dd/mm/yy' });
    });
</script>