﻿@{
    ViewBag.Title = "Index";
}

<h2>Members Dashboard</h2>

<div id="actions">
    <ul>
        <li>@Html.ActionLink("Add New Member", "Add")</li>
        <li>@Html.ActionLink("Import Excel Spreadsheet", "Index", "ExcelImport")</li>
    </ul>
</div>

<div id="search">
    @{ Html.RenderAction("Search"); }
</div>

<div id="results">&nbsp;</div>