﻿body {
	padding-top: 40px;
}

.topbar .brand {
	padding-top:5px;
	padding-bottom:0px;
}

#main {
	padding-top: 1em;
}

.itemlist > li {
	margin-bottom: 1em;
}

.editor-label > label {
  margin-right: 2px;
}

.editor-field {
  padding: 2px;
}

.wideEnough {
  min-width: 80px;
}