﻿@model GiveCRM.Models.Facet

@{
    var pageTitle = Model.Id > 0 ? "Edit facet" : "Create Facet";
    ViewBag.Title = pageTitle;
}
<script src="@Url.Content("~/Scripts/ViewScripts/EditFacet.js")" type="text/javascript"></script>
<script type="text/javascript">

    $(function () {
        EditFacet.Initialise();
    });

</script>
<h2>@pageTitle</h2>
<div>
@{Html.BeginForm("SaveFacet", "Setup", FormMethod.Post);}
@Html.AntiForgeryToken()
@Html.HiddenFor(f => f.Id)
@Html.TextBoxFor(f => f.Name)

@Html.DropDownListFor(f => f.Type, 
    new List<SelectListItem>
        {
            new SelectListItem { Text = "Free Text", Value="FreeText" }, 
            new SelectListItem { Text = "Lookup", Value="List" }
        })

    <div id="FacetOptions">
        @{
            int i = 0;
            foreach (var option in Model.Values)
            {
                <div class="input">
                <input id="Values[@i].ValueBox" name="Values[@i].Value" type="text" value="@option.Value" />
                <input type="hidden" name="Values[@i].Id" value="@option.Id" />
                <input type="hidden" name="Values[@i].FacetId" class="facetCount" value="@option.FacetId" />
                </div>
                <br />
                i++;
            }
        }
    </div>

    <div id="ddOption" class="input">
        <input id="AddValue_Value" name="value" type="text" />
        <input id="AddValue_Button" type="button" value="Add Value" /><br />
    </div>

<div style="clear:both;margin:4px;">
<input type="submit" value="Save" />
</div>

@{Html.EndForm();}
</div>