﻿@model GiveCRM.Web.Models.Facets.FacetListViewModel
           
@{
    ViewBag.Title = "Show Facets";
}

<h2>List Facets</h2>

@if (Model.Facets.Count == 0)
{
    <div>No facets are defined</div> 
}
<ul>
@foreach (var facet in Model.Facets)
{
    <li><strong>@facet.Name</strong> (@facet.Type) 
    @Html.ActionLink("Edit", "EditFacet", new { id = facet.Id }) </li>
    if ((facet.Values != null) && (facet.Values.Count > 0))
     {
        <div>Values:
        <ul>
         @foreach(var facetValue in facet.Values)
         {
             <li>@facetValue.Value</li>
         }
        </ul>
        </div>
     }
}
</ul>

@Html.ActionLink("Create facet", "AddFacet")
