﻿@model GiveCRM.Web.Models.Campaigns.SimpleCampaignViewModel

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.CampaignId)

    <p>
        Close @Model.CampaignName?
    </p>
    
    <p>
        <input type="submit" value="Close" />
        @Html.ActionLink("Cancel", "Index")
    </p>
}
