﻿@model GiveCRM.Web.Models.Campaigns.CampaignIndexViewModel

@{
    ViewBag.Title = @Model.Title;
}

<div class="campaigns">
	<div class="row">
		<div class="span16">
			<h1>Campaigns</h1>
		</div>
	</div>

	<div class="row">
		<div class="maincol span-two-thirds">
			<ul class="tabs">
				<li @(!Model.ShowClosed ? Html.Raw("class=\"active\"") : Html.Raw(""))>
					@Html.ActionLink("Open Campaigns", "Index", new { showClosed = false })
				</li>
				<li @(Model.ShowClosed ? Html.Raw("class=\"active\"") : Html.Raw(""))>
					@Html.ActionLink("Closed Campaigns", "Index", new { showClosed = true })
				</li>
			</ul>

			<div class="campaignlist ">
				<ul class="itemlist">
				@foreach (var item in Model.Campaigns) {
					<li>
						@Html.ActionLink(item.Name, "Show", new { id = item.Id }, new { @class = "name"})
                                                
                                                @if (item.RunOn != null)
                                                {
                                                    <text>(Committed)</text>
                                                }

						<div class="description">
							@Html.DisplayFor(modelItem => item.Description)
						</div>
					</li>
				}
				</ul>
			</div>
		</div>

		<div class="sidebar span-one-third">
			<h2>Quick Links</h2>
		
			<ul class="toolbar">
				<li>@Html.ActionLink(Model.CreateCampaignLinkText, "Create")</li>
			</ul>
		</div>
	</div>
</div>
